<template>
  <div>
    <div>
      <img :src="user.picture">
      <h2>{{ user.nickname }}</h2>
      <p>{{ user.email }}</p>
    </div>

    <div>
      <pre>{{ JSON.stringify(user, null, 2) }}</pre>
    </div>
  </div>
</template>

<script>
import {inject} from 'vue';

export default {
    name: "Profile",
    setup() {
        const auth = inject("Auth");
        return {
            ...auth
        }
    }
}
</script>