<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>

    <div v-if="!loading">
      <button v-if="!isAuthenticated" @click="userLogin">Login</button>
      <button v-if="isAuthenticated" @click="userLogout">Logout</button>
      <router-link v-if="isAuthenticated" to="/profile">Profile</router-link>
    </div>
  </div>
  <router-view/>
</template>

<script>
import { inject } from 'vue';

export default {
  name: 'App',
  setup() {
    const auth = inject("Auth")

    // Log the user in
    const userLogin = () => {
      auth.loginWithRedirect()
      //console.log("App.vue - user: ", auth.user)
    }
    // Log the user out
    const userLogout = () => {
      auth.logout({
        returnTo: window.location.origin
      })
    }

    return {
      ...auth,
      userLogin,
      userLogout
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
